[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
faker = "*"
python-dotenv = "*"
flask-login = "*"
flask-wtf = "*"
flask-moment = "*"
eventlet = "*"
flask-socketio = "*"
python-engineio = "*"
python-socketio = "*"
flask-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.7"
