[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
faker = "*"
python-dotenv = "*"
flask-login = "*"
flask-wtf = "*"
flask-moment = "*"
eventlet = "*"
flask-socketio = "*"
python-engineio = "*"
python-socketio = "*"
markdown = "*"
bleach = "*"
pygments = "*"
flask-oauthlib = "*"
