<div class="msg-box">
{#    {% if message.author.id != current_user.id %}#}
{#        <div class="picture">           <!--头像-->#}
{#            <img class="pop-card" data-position="right center" data-offset="-40"#}
{#                data-href="{{ url_for('app.get_profile', user_id=message.author.id) }}"#}
{#                 src="{{ message.author.gravatar }}">#}
{#        </div>#}
{#        <div class="msg">                <!--消息主体内容-->#}
{#            <span class="nickname">{{ message.author.nickname }}</span>#}
{#            <small class="timestamp">{{ moment(message.timestamp).format('lll') }}</small>#}
{#            <span class="message-body">{{ message.body | safe }}</span>#}
{#        </div>#}
{#    {% else %}#}
        <div class="msg">                <!--消息主体内容-->
            <span class="nickname">{{ message.author.nickname }}</span>
            <small class="timestamp">{{ moment(message.timestamp).format('lll') }}</small>
            <span class="message-body">{{ message.body | safe }}</span>
        </div>
        <div class="picture">           <!--头像-->
            <img class="pop-card" data-position="right center" data-offset="-40"
                data-href="{{ url_for('app.get_profile', user_id=message.author.id) }}"
                 src="{{ message.author.gravatar }}">
        </div>
{#    {% endif %}#}
</div>